@import "base";
@import "profile";
@import "info";
@import "techs";
@import "xp";

body {
  display: flex;
  flex-direction: column;
  gap: $defaultSpacing;

  padding: $defaultSpacing;

  > main {
    display: flex;
    gap: $defaultSpacing * 2;

    > aside {
      display: flex;
      flex-direction: column;
      gap: $defaultSpacing * 1.5;

      width: 348px;
    }

    > section {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: $defaultSpacing * 1.5;
    }
  }
}
